body{
  color: #424141;
  overflow-x: hidden;
}
.container{
  width: 50%;
  margin: auto;
}

.main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.title{
  font-size: 40px;
  margin: 0;
  margin-top: -70px;
  color:#424141;
}

.sub-title{
  font-size:16px;
  margin-top: 0;
  margin-bottom: 50px;
  color: #7d7d7d;
}

.button-search{
  display: block;
  width: 100%;
  height: 45px;
  color: white;
  background-color: #2583f7;
  font-size: 16px;
  border: none;
}

.button-search:hover{
  background-color: black;
}

.input-code{
  display: block;
  width: 100%;
  height: 35px;
  color: #7d7d7d;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
}

.label-input{
  color:#7d7d7d;
  margin-bottom: 10px;
  
}

.error-message{
  background-color: #f7e7eb;
  color: #e02a55;
  height: 35px;
  position: relative;
  margin: 10px 0;
}
.error-message > div{
  position: absolute;
  top: 17%;
  padding-left: 15px;
}
.error-message > div > span {
  font-weight: bold;
}
.big-container{
  position: relative;
}
.container-situation{
  top: 12vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 50%;
  height: 50%;
  text-align: center;
}
.layout{
  width: 93%;
  margin: 0 auto;
}
.tab{
  margin: 0 10px;
  color: #1fa5c5;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid;
}

.tab-selected{
  color: #424141;
}

.title-status{
  font-size: 33px;
  margin-bottom: 3rem;
}

.img-status{
  margin-bottom: 3rem;
}

.table-info-status table{
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
}

.table-info-status table tr td:nth-child(1){
  font-weight: 600;
}

.table-info-status table tr td:nth-child(2){
  color: #5a5858;
}

.container-details{
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.card{
  border: 1px solid grey;
  width: 300px;
  padding: 14px;
  border-left: 7px solid grey;
}
.card-active{
  border-left: 7px solid #53da53;
}
.card table tbody tr:nth-child(1) td:nth-child(1){
  font-weight: bold;
  color: #424141;
  font-size: 18px;
}
.list-places{
  color:grey;

}
.container-details{
  display: flex;
  flex-direction: row;
}
.map{
  color: red;
}

.graphic-map{
  width: calc(100vw - 390px);
}